@import '../../../assets/scss/var';
.s-login-logo{
    background: url("../../../assets/images/dajt-logo.jpg") no-repeat center;
    position: absolute;
    top: 0;
    z-index: 1;
    left: 41%;
    min-width: 234px;
    min-height: 132px;
}
.s-login-container {
    /* layout */
    min-height: 100vh;
    min-width: 100vh;
    flex: 1;
    display: flex;
    /* content styling OPTIONAL*/
    align-items: center;
    justify-content: center;
    padding: 10vh;
    /* background styling */
    background: url("../../../assets/images/dajt-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .s-login-pg{
        width:400px;
        display:flex;
        padding:0;
        margin:48px 16px 16px 16px;
        flex-direction: column;
        align-items: center;
        //background-color: white;
        background: rgba(255,255,255,0.85);
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.05), 0 1px 2px rgba(0,0,0,0.15);
        .s-login-pg-head{
            width:100%;
            //height:220px;
            display:flex;
            flex-direction: column;
            align-items: center;
            padding:16px;
            color:white;
        }
        .s-login-pg-form{
            width:100%;
            height:200px;
            display:flex;
            flex-direction: column;
            align-items: center;
            margin:24px 16px;
            input{
                margin: 16px;
            }
        }
        .s-login-pg-foot{
            width:100%;
            min-height:40px;
            display:flex;
            flex-direction: column;
            align-items: center;
        }
    }
}


