# Java Builds
target/
build/
bin/
.gradle/
.classpath
**/dist
# WebUI Builds
tmp/
**/*.js.map

# WebUI dependencies
node_modules/
bower_components/

# IDEs and editors
**/.idea
**/.vscode
.settings/
**/.iml

# misc
**/.sass-cache
**/npm-debug.log
typings/

#System Files
**/.DS_Store
**/.project
**/.settings
**/.classpath
**/.metadata
**/Thumbs.db
