<div class="pad-16" style="background-color: #F4F7FA">

    <div class="alert alert-success" [hidden]="hideMessage" >
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="check-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    <b i18n>Le dossier</b>&nbsp;<a routerLink="/home/legal_cases/folders/{{folderCreated?.id}}">{{folderCreated?.id}}</a>&nbsp;<b i18n>a été crée.</b>
                </span>
            </div>
        </div>
        <button type="button" class="close" aria-label="Close">
            <clr-icon aria-hidden="true" shape="close" (click)="hideMessage = true"></clr-icon>
        </button>
    </div>

    <div class="row" style="margin-top: 5px">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <form #filterFoldersForm="ngForm" (ngSubmit)="onSubmitFilterFoldersForm(filterFoldersForm)" id="folder-form-search">
                <section class="form-block">
                    <div class="form-group row">

                        <div class="col-xs-1">
                            <label for="folderNumber" i18n>Numéro Dossier</label>
                        </div>
                        <div class="col-xs-2">
                            <input class="form-control" type="text" id="folderNumber" name="folderNumber" ngModel
                                   i18n-placeholder="Entrez le numéro ici" size="45">
                        </div>

                        <div class="col-xs-1">
                            <label for="victim" i18n>Victime</label>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" type="text" id="victim" name="victim" ngModel
                                   i18n-placeholder="Entrez le nom de la victim" size="45" >
                        </div>

                        <div class=" col-xs-1">
                            <label for="guilty" i18n>Coupable</label>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" type="text" id="guilty" name="guilty" ngModel
                                   i18n-placeholder="Entrez le nom du coupable" size="45">
                        </div>
                        <div class="col-xs-1">
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-xs-1">
                            <label for="office" i18n>Bureau</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="select form-control">
                                <select id="office" name="office" ngModel>
                                    <option value=""></option>
                                    <option *ngFor="let o of listOffices" value="{{o.id}}">{{o.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-1">
                            <label for="status" i18n>Status</label>
                        </div>
                        <div class="col-xs-2">
                            <div class="select form-control">
                                <select id="status" name="status" ngModel>
                                    <option value=""></option>
                                    <option *ngFor="let st of listFolderStatus" value="{{st}}">{{st}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-2">
                            <button type="submit" class="btn btn-icon btn-primary btn-sm">
                                <clr-icon shape="search"></clr-icon>
                                <i i18n>Recherche</i>
                            </button>
                        </div>

                        <div class="col-xs-2"></div>

                    </div>
                </section>
            </form>
        </div>
        <div class="col-lg-1"></div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="actions" class="row" style="margin-bottom: 5px">
                <div class="col-lg-1">
                    <p-button (onClick)="overlayPanel.show($event);showAssignUserDropdown()"
                              icon="fa fa-fw fa-caret-down"
                              i18n-label
                              [disabled]="selectedFolders.length == 0"
                              label="Assigner">
                    </p-button>
                </div>
                <div class="col-lg-10">
                    <p-button (onClick)="overlayPanel.show($event);showChangeFolderStatusDropdown()"
                              icon="fa fa-fw fa-caret-down"
                              i18n-label
                              [disabled]="selectedFolders.length == 0"
                              label="Status">
                    </p-button>
                </div>
                <div clas="col-lg-1">
                    <p-button (onClick)="overlayPanel.show($event);showAddActionDropdown()"
                              icon="fa fa-fw fa-caret-down"
                              i18n-label
                              [disabled]="selectedFolders.length == 0"
                              label="Actions">
                    </p-button>
                </div>
            </div>

            <p-table [value]="listFolders" [(selection)]="selectedFolders" i18n-emptymessage emptymessage="Aucun résultat trouvé">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th width="10%" i18n>Numéro</th>
                        <th width="20%" i18n>Infraction</th>
                        <th width="13%" i18n>Victimes</th>
                        <th width="13%" i18n>Coupables</th>
                        <th width="5%"  i18n>Tribunal</th>
                        <th width="10%" i18n>Date modification</th>
                        <th width="10%" i18n>Assigné</th>
                        <th width="4%"  i18n>Actions</th>
                        <th width="5%"  i18n>Status</th>
                        <th width="10%" i18n>Type d'envoi</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-folder>
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <p-tableCheckbox [value]="folder"></p-tableCheckbox>
                        </td>
                        <td>
                            <a routerLink="/home/legal_cases/folders/{{folder.id}}">{{folder.number}}</a>
                        </td>
                        <td>
                            <a routerLink="/home/legal_cases/folders/{{folder.id}}">{{folder.offence}}</a>
                        </td>
                        <td>
                            <ul class="list compact">
                                <li  *ngFor="let v of folder.victims">
                                    {{v.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="list compact">
                                <li  *ngFor="let g of folder.guilties">
                                    {{g.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{folder.court.name}}
                        </td>
                        <td>
                            {{folder.modifDate | date : 'longDate':'':'ar'}}
                        </td>
                        <td>
                            {{folder?.assignee?.firstName}}&nbsp;{{folder?.assignee?.firstName}}
                        </td>
                        <td>
                            <div role="tooltip" aria-haspopup="true" class="tooltip tooltip-lg">
                                <span class="badge badge-purple">{{folder?.actions.length}}</span>
                                <span class="tooltip-content" [hidden]="folder?.actions.length === 0">
                                    <ul class="list compact">
                                        <li *ngFor="let a of folder?.actions">{{a?.name}}</li>
                                    </ul>
                                </span>
                            </div>
                        </td>
                        <td>
                            <span class="badge badge-info">{{folder?.status}}</span>
                        </td>
                        <td>
                            <div [innerHTML]="folder?.sendingType"></div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>
</div>

<!-- ActionsOverlaPanel-->
<p-overlayPanel #overlayPanel>
    <!-- UsersOverlayPanel-->
    <div *ngIf="showAssignUserOPanel">
        <p-dropdown #assignUserDropdown
                    [options]="listUsers"
                    [(ngModel)]="selectedUser"
                    [style]="{'width':'200px'}"
                    filter="true"
                    i18n-placeholder="Assigner à"
                    dir="rtl">
            <ng-template let-item pTemplate="selectedUser">
                <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <span>{{user.label}}</span>
            </ng-template>
        </p-dropdown>
        <button type="button" class="btn btn-icon" (click)="assignUser(selectedFolders,selectedUser)">
            <clr-icon shape="check"></clr-icon>
        </button>
    </div>
    <!-- ActionsOverlyPanel-->
    <div *ngIf="showAddActionOPanel">
        <p-dropdown #addActionDropdown
                    [options]="listActions"
                    [(ngModel)]="selectedAction"
                    [style]="{'width':'300px'}"
                    filter="true"
                    i18n-placeholder="Choisissez votre action"
                    dir="rtl">
            <ng-template let-item pTemplate="selectedAction">
                <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
            <ng-template let-action pTemplate="item">
                <span>{{action.label}}</span>
            </ng-template>
        </p-dropdown>
        <button type="button" class="btn btn-icon" (click)="addAction(selectedFolders,selectedAction)">
            <clr-icon shape="check"></clr-icon>
        </button>
    </div>

    <!-- ActionsOverlyPanel-->
    <div *ngIf="showChangeStatusOPanel">
        <p-dropdown #changeStatusDropdown
                    [options]="listStatus"
                    [(ngModel)]="selectedStatus"
                    [style]="{'width':'300px'}"
                    filter="true"
                    i18n-placeholder="Choisissez le status"
                    dir="rtl">
            <ng-template let-item pTemplate="selectedStatus">
                <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
            <ng-template let-status pTemplate="item">
                <span>{{status.label}}</span>
            </ng-template>
        </p-dropdown>
        <button type="button" class="btn btn-icon" (click)="changeStatus(selectedFolders,selectedStatus)">
            <clr-icon shape="check"></clr-icon>
        </button>
    </div>

</p-overlayPanel>

<!-- button added folder -->
<div id="container-floating">
    <div id="floating-button"
         data-toggle="tooltip"
         data-placement="left"
         data-original-title="Create"
         (click)="openCreateFolderDialog()">
        <span class="floating-button-label" i18n>Créer un dossier</span>
        <p class="plus">+</p>
        <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>
</div>



