<div class="mat-dialog-header">
    <h1 mat-dialog-title i18n>Création d'un dossier </h1>
</div>

<div mat-dialog-content>
    <form #createFolderForm="ngForm" (ngSubmit)="createFolder(createFolderForm)" id="create-folder-form">

        <!-- office-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="office" i18n>Bureau</label>
            </div>
            <div class="ui-g-10">
                <div class="select ">
                    <select id="office" name="office" ngModel>
                        <option value=""></option>
                        <option *ngFor="let o of listOffices" value="{{o.id}}">{{o.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- folder number-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="number" i18n>Numéro dossier</label>
            </div>
            <div class="ui-g-10">
                <input pInputText id="number" name="number" size="20" ngModel/>
            </div>
        </div>

        <!-- offence-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="offence" i18n>Infraction</label>
            </div>
            <div class="ui-g-10">
                <textarea pInputTextarea id="offence" name="offence" ngModel class="wid100"></textarea>
            </div>
        </div>

        <!-- victims-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="victims" i18n>Victimes</label>
            </div>
            <div class="ui-g-10">
                <p-autoComplete [suggestions]="filteredVictims"
                                (completeMethod)="filterVictims($event)"
                                styleClass="wid100"
                                [minLength]="1"
                                i18n-placeholder="Liste des victimes"
                                field="name"
                                id="victims"
                                name="victims"
                                ngModel
                                [(ngModel)]="selectedVictims"
                                (onKeyUp)="addItem($event,queryVictim,selectedVictims,filteredVictims)"
                                [multiple]="true">
                </p-autoComplete>

                <table class="table">
                    <tbody>
                    <tr *ngFor="let v of selectedVictims">
                        <td>{{v.name}}</td>
                        <td>
                            <p-button (click)="removeVictim(v)" icon="fa fa-fw fa-trash"></p-button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- accused-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="accused" i18n>Coupables</label>
            </div>
            <div class="ui-g-10">
                <p-autoComplete [suggestions]="filteredGuilties"
                                (completeMethod)="filterGuilties($event)"
                                styleClass="wid100"
                                [minLength]="1"
                                i18n-placeholder="Liste des coupables"
                                field="name"
                                id="accused"
                                name="accused"
                                ngModel
                                [(ngModel)]="selectedGuilties"
                                (onKeyUp)="addItem($event,queryVictim,selectedGuilties,filteredGuilties)"
                                [multiple]="true">
                </p-autoComplete>
                <table class="table">
                    <tbody>
                    <tr *ngFor="let g of selectedGuilties">
                        <td>{{g.name}}</td>
                        <td>
                            <p-button (click)="removeGuilty(g)" icon="fa fa-fw fa-trash"></p-button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Tribunal-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="court" i18n>Tribunal</label>
            </div>
            <div class="ui-g-10">
                <p-autoComplete [suggestions]="filteredCourts"
                                (completeMethod)="filterCourts($event)"
                                styleClass="wid100"
                                [minLength]="1"
                                i18n-placeholder="Palais de justice"
                                field="name"
                                id="court"
                                name="court"
                                ngModel
                                [(ngModel)]="selectedCourt"
                                [dropdown]="true">
                </p-autoComplete>
            </div>
        </div>

        <!-- assigner à -->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="assignee" i18n>Assigner à</label>
            </div>
            <div class="ui-g-10">
                <p-autoComplete [suggestions]="filteredUsers"
                                (completeMethod)="filterUsers($event)"
                                styleClass="wid100"
                                [minLength]="1"
                                i18n-placeholder="Choix opérateur"
                                field="name"
                                id="assignee"
                                name="assignee"
                                ngModel
                                [(ngModel)]="selectedUser"
                                [dropdown]="true">
                </p-autoComplete>
            </div>
        </div>
        <!-- sending type -->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="administrationConcerned" i18n>Type d'envoie</label>
            </div>
            <div class="ui-g-10">
                <p-editor id="administrationConcerned" name="administrationConcerned" ngModel class="wid100" [style]="{'height':'320px'}"></p-editor>
                <!--<textarea pInputTextarea id="administrationConcerned" name="administrationConcerned" ngModel class="wid100"></textarea>-->
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions style="border-top : 1px solid #ccc!important;">
    <p-button (click)="createFolder(createFolderForm)" icon="fa fa-fw fa-check" i18n-label label="Créer"></p-button>
    <p-button (click)="close()" icon="fa fa-fw fa-close" i18n-label label="Annuler"></p-button>
</div>
