<div class="pad-16" style="background-color: #F4F7FA">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">

            <form #filterFoldersForm="ngForm" (ngSubmit)="onSubmitFilterFoldersForm(filterFoldersForm)" id="folder-form-search">
                <section class="form-block">
                    <div class="form-group row">

                        <div class="col-xs-1">
                            <label for="folderNumber" i18n>Numéro Dossier</label>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" type="text" id="folderNumber" name="folderNumber" ngModel
                                   i18n-placeholder="Entrez le numéro ici" size="45">
                        </div>

                        <div class="col-xs-1">
                            <label for="office" i18n>Bureau</label>
                        </div>
                        <div class="col-xs-3">
                            <div class="select form-control">
                                <select id="officeF" name="office" ngModel>
                                    <option value=""></option>
                                    <option *ngFor="let o of listOffices" value="{{o.id}}">{{o.name}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-1">
                            <label for="status" i18n>Status</label>
                        </div>
                        <div class="col-xs-2">
                            <div class="select form-control">
                                <select id="status" name="status" ngModel>
                                    <option value=""></option>
                                    <option *ngFor="let st of folderStatus" value="{{st}}">{{st}}</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-xs-1">
                        </div>

                    </div>
                    <div class="form-group row">

                        <div class="col-xs-1">
                            <label for="victim" i18n>Victime</label>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" type="text" id="victim" name="victim" ngModel
                                   i18n-placeholder="Entrez le nom de la victim" size="45" >
                        </div>

                        <div class=" col-xs-1">
                            <label for="guilty" i18n>Coupable</label>
                        </div>
                        <div class="col-xs-3">
                            <input class="form-control" type="text" id="guilty" name="guilty" ngModel
                                   i18n-placeholder="Entrez le nom du coupable" size="45">
                        </div>

                        <div class="col-xs-2">
                            <button [clrLoading]="validateLoading"  type="submit" class="btn btn-primary" i18n>Recherche</button>
                        </div>

                        <div class="col-xs-2"></div>

                    </div>
                </section>
            </form>

            <p-table [value]="rows">
                <ng-template pTemplate="header">
                    <tr>
                        <th i18>Numéro</th>
                        <th i18n>Infraction</th>
                        <th i18n>Victimes</th>
                        <th i18n>Coupables</th>
                        <th i18n>Justice</th>
                        <th i18n>Date modification</th>
                        <th i18n>Status</th>
                        <th i18n>Type d'envoie</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-folder>
                    <tr>
                        <td>
                            <a routerLink="/home/legal_cases/folders/{{folder.id}}">{{folder.number}}</a>
                        </td>
                        <td>
                            <a routerLink="/home/legal_cases/folders/{{folder.id}}">{{folder.offence}}</a>
                        </td>
                        <td>
                            <ul class="list compact">
                                <li  *ngFor="let v of folder.victims">
                                    {{v.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="list compact">
                                <li  *ngFor="let g of folder.guilties">
                                    {{g.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{folder.court.name}}
                        </td>
                        <td>
                            {{folder.modifDate | date : 'longDate':'':'ar'}}
                        </td>
                        <td>
                            {{folder.status}}
                        </td>
                        <td>
                            <div style="white-space: pre-wrap">{{folder.sendingType}}</div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>


        </div>
        <div class="col-lg-1"></div>
    </div>
</div>

<div id="container-floating">

    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" (click)="openDialog()">
        <span class="floating-button-label" i18n>Créer un dossier</span>
        <p class="plus">+</p>
        <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>

</div>
