<div class="mat-dialog-header">
    <h1 mat-dialog-title i18n>Création d'un dossier </h1>
</div>

<div mat-dialog-content>
    <form #createFolderForm="ngForm" (ngSubmit)="createFolder(createFolderForm)" id="create-folder-form">

        <!-- office-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="office" i18n>Bureau</label>
            </div>
            <div class="ui-g-10">
                <div class="select ">
                    <select id="office" name="office" ngModel>
                        <option value=""></option>
                        <option *ngFor="let o of listOffices" value="{{o.id}}">{{o.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- folder number-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="number" i18n>Numéro dossier</label>
            </div>
            <div class="ui-g-10">
                <input pInputText id="number" name="number" size="20" ngModel/>
            </div>
        </div>

        <!-- offence-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="offence" i18n>Infraction</label>
            </div>
            <div class="ui-g-10">
                <textarea pInputTextarea id="offence" name="offence" ngModel class="wid100"></textarea>
            </div>
        </div>

        <!-- victims-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="victims" i18n>Victimes</label>
            </div>
            <div class="ui-g-10">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <form class="ui-inputgroup" (submit)="addToVictim(vict,selectedVictims)">
                            <input type="text" id="victims" pInputText [(ngModel)]="vict" [ngModelOptions]="{standalone: true}">
                            <p-button type="submit" icon="fa fa-fw fa-check" ></p-button>
                            <p-button type="button" icon="fa fa-fw fa-trash" (click)="vict = ''"></p-button>
                        </form>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let v of selectedVictims; let i = index">
                            <td>{{v.name}}</td>
                            <td>
                                <p-button (click)="removeFromCollection(i,selectedVictims)" icon="fa fa-fw fa-trash"></p-button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- accused-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="accused" i18n>Coupables</label>
            </div>
            <div class="ui-g-10">
                <div class="ui-g">
                    <div class="ui-g-12">
                        <form class="ui-inputgroup" (submit)="addToAccused(acc,selectedAccused)">
                            <input type="text" id="accused" pInputText [(ngModel)]="acc" [ngModelOptions]="{standalone: true}">
                            <p-button type="submit" icon="fa fa-fw fa-check"></p-button>
                            <p-button type="button" icon="fa fa-fw fa-trash" (click)="acc = ''"></p-button>
                        </form>
                    </div>
                </div>
                <table class="table">
                    <tbody>
                    <tr *ngFor="let a of selectedAccused">
                        <td>{{a.name}}</td>
                        <td>
                            <p-button (click)="removeFromCollection(a,selectedAccused)" icon="fa fa-fw fa-trash"></p-button>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>

        <!-- Tribunal-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="court" i18n>Tribunal</label>
            </div>
            <div class="ui-g-10">
                <p-autoComplete [suggestions]="filteredCourts"
                                (completeMethod)="filterCourts($event)"
                                styleClass="wid100"
                                [minLength]="1"
                                i18n-placeholder="Palais de justice"
                                field="name"
                                id="court"
                                name="court"
                                ngModel
                                [(ngModel)]="selectedCourt"
                                [dropdown]="true">
                </p-autoComplete>
            </div>
        </div>

        <!-- assigner à -->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="assignee" i18n>Assigner à</label>
            </div>
            <div class="ui-g-10">
                <p-autoComplete [suggestions]="filteredUsers"
                                (completeMethod)="filterUsers($event)"
                                styleClass="wid100"
                                [minLength]="1"
                                i18n-placeholder="Choix opérateur"
                                field="name"
                                id="assignee"
                                name="assignee"
                                ngModel
                                [(ngModel)]="selectedUser"
                                [dropdown]="true">
                </p-autoComplete>
            </div>
        </div>
        <!-- administration concerned -->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="administrationConcerned" i18n>Type d'envoie</label>
            </div>
            <div class="ui-g-10">
                <textarea pInputTextarea id="administrationConcerned" name="administrationConcerned" ngModel class="wid100"></textarea>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions style="border-top : 1px solid #ccc!important;">
    <p-button (click)="createFolder(createFolderForm)" icon="fa fa-fw fa-check" i18n-label label="Créer"></p-button>
    <p-button (click)="close()" icon="fa fa-fw fa-close" i18n-label label="Annuler"></p-button>
</div>
