<div class="mat-dialog-header">
    <h1 mat-dialog-title i18n>Création d'un dossier </h1>
</div>

<div mat-dialog-content>
    <form #createFolderForm="ngForm" (ngSubmit)="createFolder(createFolderForm)" id="create-folder-form">

        <!-- office-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="office" i18n>Bureau</label><span class="red">*</span>
            </div>
            <div class="ui-g-10">
                <div class="select ">
                    <select id="office" name="office" class="select-basic" ngModel>
                        <option value=""></option>
                        <option *ngFor="let o of listOffices" [ngValue]="o">{{o.name}}</option>
                    </select>
                </div>
            </div>
        </div>

        <!-- folder number-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="number" i18n>Numéro dossier</label><span class="red">*</span>
            </div>
            <div class="ui-g-10">
                <input pInputText id="number" name="number" size="20" ngModel/>
            </div>
        </div>

        <!-- offence-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="offence" i18n>Infraction</label><span class="red">*</span>
            </div>
            <div class="ui-g-10">
                <textarea pInputTextarea id="offence" name="offence" ngModel class="wid100"></textarea>
            </div>
        </div>
        <!-- victims-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="victims" i18n>Victimes</label>
            </div>
            <div class="ui-g-10">
                <p-chips id="victims" name="victims"
                         [allowDuplicate]="false"
                         (onAdd)="addToVictims($event)"
                         (onRemove)="removeFromVictims($event)">
                </p-chips>
            </div>

        </div>

        <!-- accused-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="accused" i18n>Coupables</label>
            </div>
            <div class="ui-g-10">
                <p-chips id="accused" name="accused"
                         [allowDuplicate]="false"
                         (onAdd)="addToAccused($event)"
                         (onRemove)="removeFromAccused($event)">
                </p-chips>
            </div>
        </div>

        <!-- Tribunal-->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="court" i18n>Tribunal</label>
            </div>
            <div class="ui-g-10">
                <p-autoComplete [suggestions]="filteredCourts"
                                (completeMethod)="filterCourts($event)"
                                styleClass="wid100"
                                [minLength]="1"
                                i18n-placeholder="Palais de justice"
                                field="name"
                                id="court"
                                name="court"
                                ngModel
                                [(ngModel)]="selectedCourt"
                                [dropdown]="true">
                </p-autoComplete>
            </div>
        </div>

        <!-- assigner à -->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="assignee" i18n>Assigner à</label>
            </div>
            <div class="ui-g-10">
                <div class="select">
                    <select id="assignee" name="assignee" class="select-basic" ngModel>
                        <option value=""></option>
                        <option *ngFor="let u of listUsers" [ngValue]="u">{{u.firstname}}&nbsp;{{u.lastname}}</option>
                    </select>
                </div>
            </div>
        </div>
        <!-- administration concerned -->
        <div class="ui-g">
            <div class="ui-g-2">
                <label for="administrationConcerned" i18n>Type d'envoie</label>
            </div>
            <div class="ui-g-10">
                <textarea pInputTextarea rows="8" cols="60" id="administrationConcerned" name="administrationConcerned" ngModel class="wid100"></textarea>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions style="border-top : 1px solid #ccc!important;">
    <p-button type="submit" icon="fa fa-fw fa-check" i18n-label label="Créer" style="margin-left:10px"></p-button>
    <p-button (click)="close()" icon="fa fa-fw fa-close" i18n-label label="Annuler"></p-button>
</div>
