<div class="no-margin">  <!-- class="main-container" will create fixed height container -->

    <!--Alert -->
    <div *ngIf="showAppAlert" class="alert alert-app-level ">
        <button type="button" class="close" aria-label="Close" (click)="closeAppAlert()">
            <clr-icon aria-hidden="true" shape="close"></clr-icon>
        </button>
        <div class="alert-item">
            <div class="alert-text">
                Alert Type: Info
            </div>
            <div class="alert-actions">
                <button class="btn alert-action">Action</button>
            </div>
        </div>
    </div>

    <!-- Main App Header -->
    <header class="header header-2" style="color: #FFFFFF;background-color: #0667D0;">
        <div class="branding">
            <span class="title">DAJT</span>
        </div>
        <div class="header-nav">
            <!--<a *ngFor="let header of appHeaderItems let idx = index" class="nav-link" [routerLink]="header.href" routerLinkActive="active" >-->
                <!--<span class="nav-text">{{ header.label }}</span>-->
            <!--</a>-->
            <a class="nav-link" routerLink="/home/legal_cases" routerLinkActive="active" >
                <span class="nav-text" i18n>Affaires Judiciaires</span>
            </a>
        </div>
        <div class="header-actions">
            <label style="line-height: 60px;"><clr-icon shape="user"></clr-icon> &nbsp;{{userName}}</label>
            <a [routerLink]="'/logout'" class="nav-link nav-text"> <clr-icon shape="power"></clr-icon></a>
        </div>
    </header>

    <!-- Sub Nav Item for Header Items -->
    <!--<nav *ngIf ="appHeaderItems[selectedHeaderItemIndex].subNav && appHeaderItems[selectedHeaderItemIndex].subNav.length > 0 " class="subnav" >-->
        <!--<ul class="nav">-->
            <!--<li *ngFor="let subNavItem of appHeaderItems[selectedHeaderItemIndex].subNav let idx=index" class="nav-item">-->
                <!--<a class="nav-link" [routerLink]="subNavItem.href" routerLinkActive="active" >{{ subNavItem.label }}</a>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</nav>-->
    <nav class="subnav" >
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/legal_cases/folders" routerLinkActive="active" i18n>Liste des Dossiers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/legal_cases/advocates" routerLinkActive="active" i18n>Liste des Avocats</a>
            </li>
        </ul>
    </nav>
    <router-outlet></router-outlet>
    <app-spinner></app-spinner>
</div>
