<div class="no-margin">  <!-- class="main-container" will create fixed height container -->

    <!-- Main App Header -->
    <header class="header header-2" style="color: #FFFFFF;background-color: #0667D0;">
        <div class="branding">
            <span class="title">DAJT</span>
        </div>
        <div class="header-nav">
            <!--<a *ngFor="let header of appHeaderItems let idx = index" class="nav-link" [routerLink]="header.href" routerLinkActive="active" >-->
                <!--<span class="nav-text">{{ header.label }}</span>-->
            <!--</a>-->
            <a class="nav-link" routerLink="/home/legal_cases" routerLinkActive="active" >
                <span class="nav-text" i18n>Affaires Judiciaires</span>
            </a>
        </div>
        <div class="header-actions">
            <label style="line-height: 60px;"><clr-icon shape="user"></clr-icon> &nbsp;{{userName}}</label>
            <a [routerLink]="'/logout'" class="nav-link nav-text"> <clr-icon shape="power"></clr-icon></a>
        </div>
    </header>

    <nav class="subnav" >
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/legal_cases/folders" routerLinkActive="active" i18n>Liste des Dossiers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/home/legal_cases/advocates" routerLinkActive="active" i18n>Liste des Avocats</a>
            </li>
        </ul>
    </nav>


    <router-outlet></router-outlet>
    <app-spinner></app-spinner>
</div>
