@import '../../../assets/scss/var';
.s-login-logo{
    background: url("../../../assets/images/dajt-logo.jpg") no-repeat center;
    position: absolute;
    z-index: 1;
    top:2%;
    right:6%;
    min-width: 222px;
    min-height: 132px;
    background-size: 214px 85px;
}
.s-login-container {
    /* layout */
    min-height: 100vh;
    min-width: 100vh;
    /* background styling */
    background: url("../../../assets/images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.s-login-pg {
    width: 30%;
    position: fixed;
    top: 20%;
    right: 4%;
    margin: 0 auto;
}

.s-login-pg-head{
    margin-bottom: 5%;
    margin-right: 2%;
}

.s-login-pg-form{
}

.s-login-pg-foot{
}

.submitMargin {
    margin-top: 38px;
    margin-bottom: 30px;
}

.ui-widget {
    font-size: 1.0em !important;
}

.s-login-input {
  height: 28px;
  padding: 0px 3px 0px 3px;
  border: solid 1px #BABABA;
  font-size: 1.0em;
}
