<div id="folder-content" class="pad-16">
    <div class="row aui-page-header-inner" style="border-bottom: 1px solid #7E7E7E">
        <div class="col-xs-1 aui-page-header-image">
            <img src="../../../assets/images/folder_icon.jpg" width="50" height="50" style="margin-left: 20px">
        </div>
        <div class="col-xs-8 aui-page-header-main">
            <div id="folder-number">
                <a id="project-name-val" routerLink="/home/legal_cases/offices/{{folder.office.id}}">{{folder.office.name}}</a>
                &nbsp;&nbsp;/&nbsp;&nbsp;
                <a class="issue-link" routerLink="/home/legal_cases/folders/{{folder.id}}" id="key-val" rel="10049">{{folder.number}}</a>
            </div>
            <h1 id="summary-val">{{folder.offence}}</h1>
        </div>
        <div class="col-xs-3 aui-page-header-actions">
            <button type="button" class="btn btn-icon" routerLink="/home/legal_cases/folders" style="margin-left: 20px">
                <i class="fa fa-retweet"></i>
                <span class="icon-shape-name" i18n>Retour</span>
            </button>
        </div>
    </div>

    <!-- actions bar-->
    <div class="ui-g actions" style="margin-top: 5px">
        <div class="ui-g-1"></div>
        <div class="ui-g-6">
            <div class="btn-group btn-primary btn-sm">
                <button class="btn">
                    <i class="fa fa-users"></i>
                    <i i18n>Assigner</i>
                </button>
                <button class="btn">
                    <i class="fa fa-user"></i>
                    <span i18n>Me l'assigner</span>
                </button>
            </div>
        </div>

    </div>


    <div class="ui-g">
        <!-- detail-->
        <div class="ui-g-8">
            <div id="detail-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Détail</div>
                    <div class="ui-g-11 toggle-bar"></div>
                </div>
                <div class="mod-content">
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="status" i18n>Statut:</label>
                        </div>
                        <div class="ui-g-3 pointer" (mouseover)="showPencilStatus = true" (mouseleave)="showPencilStatus = false">
                            <span id="status" [hidden]="showInputStatus">
                                <span class="badge badge-info">{{folder.status}}</span>
                                <i class="fa fa-pencil" (click)="showInputStatus = true" [hidden]="!showPencilStatus"></i>
                            </span>
                            <div class="ui-inputgroup" [hidden]="!showInputStatus">
                                <p-autoComplete [suggestions]="filteredStatus"
                                                (completeMethod)="filterStatus($event)"
                                                [minLength]="1"
                                                i18n-placeholder="Status"
                                                [size]="10"
                                                id="statusEdit"
                                                name="statusEdit"
                                                [(ngModel)]="folder.status"
                                                [dropdown]="true">
                                </p-autoComplete>
                                <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
                                <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="showInputStatus = false"></button>
                            </div>
                        </div>
                        <div class="ui-g-2">
                            <label for="court" i18n>Tribunal:</label>
                        </div>
                        <div class="ui-g-3 pointer" (mouseover)="showPencilCourt = true" (mouseleave)="showPencilCourt = false">
                            <span id="court" [hidden]="showInputCourt">
                                <span>{{folder.court.name}}</span>
                                <i class="fa fa-pencil" (click)="showInputCourt = true" [hidden]="!showPencilCourt"></i>
                            </span>
                            <div class="ui-inputgroup" [hidden]="!showInputCourt">
                                <p-autoComplete [suggestions]="filteredCourts"
                                                (completeMethod)="filterCourts($event)"
                                                [minLength]="1"
                                                i18n-placeholder="Court"
                                                [size]="10"
                                                id="courtEdit"
                                                name="courtEdit"
                                                [(ngModel)]="folder.court.name"
                                                [dropdown]="true">
                                </p-autoComplete>
                                <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
                                <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="showInputCourt = false"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="priority" i18n>Priority:</label>
                        </div>
                        <div class="ui-g-3 pointer" (mouseover)="showPencilPriority = true" (mouseleave)="showPencilPriority = false">
                            <span id="priority" [hidden]="showInputPriority">

                                <img alt="" height="16" src="../../../assets/images/major.svg" width="16">&nbsp;
                                <span>{{folder.priority}}</span>
                                <i class="fa fa-pencil" (click)="showInputPriority = true" [hidden]="!showPencilPriority"></i>
                            </span>
                            <div class="ui-inputgroup" [hidden]="!showInputPriority">
                                <p-autoComplete [suggestions]="filteredPriority"
                                                (completeMethod)="filterPriority($event)"
                                                [minLength]="1"
                                                i18n-placeholder="Priorité"
                                                [size]="10"
                                                id="priorityEdit"
                                                name="priorityEdit"
                                                [(ngModel)]="folder.priority"
                                                [dropdown]="true">
                                </p-autoComplete>
                                <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
                                <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="showInputStatus = false"></button>
                            </div>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-2">
                            <label for="sendingType" i18n>Type d'envoi:</label>
                        </div>
                        <div class="ui-g-9 pointer" (mouseover)="showPencilSendingType = true" (mouseleave)="showPencilSendingType = false">
                            <span id="sendingType" [hidden]="showInputSendingType">
                                <div [innerHTML]="folder.sendingType"></div>
                                <i class="fa fa-pencil" (click)="showInputSendingType = true" [hidden]="!showPencilSendingType"></i>
                            </span>
                            <div class="ui-inputgroup" [hidden]="!showInputSendingType">
                                <!--<textarea rows="5" cols="30" pInputTextarea [(ngModel)]="folder.sendingType"></textarea>-->
                                <p-editor [(ngModel)]="folder.sendingType"  class="wid100" [style]="{'height':'320px'}"></p-editor>
                                <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
                                <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="showInputSendingType = false"></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div id="victims-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Victimes</div>
                    <div class="ui-g-10 toggle-bar" style="width:90%"></div>
                    <div class="ui-g-1" style="width:2%">
                        <i class="fa fa-plus" style="cursor: pointer"></i>
                    </div>

                </div>
                <div class="mod-content">
                    <div class="ui-inputgroup" [hidden]="!showInputVicitm">
                        <p-autoComplete [suggestions]="filteredVictims"
                                        (completeMethod)="filterVictims($event)"
                                        [minLength]="1"
                                        i18n-placeholder="Victimes"
                                        [size]="10"
                                        id="victimEdit"
                                        name="victimEdit"
                                        [(ngModel)]="selectedVictim"

                                        [dropdown]="true">
                        </p-autoComplete>
                        <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
                        <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="showInputVicitm = false"></button>
                    </div>
                    <p-table [value]="folder.victims" [scrollable]="true" scrollHeight="200px">
                        <ng-template pTemplate="body" let-v>
                            <tr>
                                <td>{{v.name}}</td>
                                <td><i class="fa fa-trash" (click)="removeVictim(v.id)"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div id="guilties-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Coupables</div>
                    <div class="ui-g-10 toggle-bar" style="width:90%"></div>
                    <div class="ui-g-1" style="width:2%">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="mod-content">
                    <div class="ui-inputgroup" [hidden]="!showInputGuilty">
                        <p-autoComplete [suggestions]="filteredGuilties"
                                        (completeMethod)="filterGuilties($event)"
                                        [minLength]="1"
                                        i18n-placeholder="Coupables"
                                        [size]="10"
                                        id="guiltyEdit"
                                        name="guiltyEdit"
                                        [(ngModel)]="selectedGuilty"
                                        [dropdown]="true">
                        </p-autoComplete>
                        <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
                        <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="showInputGuilty = false"></button>
                    </div>
                    <p-table [value]="folder.guilties" [scrollable]="true" scrollHeight="200px">
                        <ng-template pTemplate="body" let-g>
                            <tr>
                                <td>{{g.name}}</td>
                                <td><i class="fa fa-trash" (click)="removeGuilty(g.id)"></i></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

            <div id="actions-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Actions</div>
                    <div class="ui-g-10 toggle-bar" style="width:90%"></div>
                    <div class="ui-g-1" style="width:2%">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="mod-content">
                    <div class="ui-inputgroup" [hidden]="!showInputAction">

                        <button pButton type="button" icon="fa-check" class="ui-button-success"></button>
                        <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="showInputAction = false"></button>
                    </div>
                    <p-table [value]="folder.actions" [scrollable]="true" scrollHeight="200px">
                        <ng-template pTemplate="body" let-a>
                            <tr>
                                <td>{{a.name}}</td>
                                <td><i class="fa fa-trash" (click)="removeAction(a.id)"></i></td>
                            </tr>

                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <!-- side bar-->
        <div class="ui-g-4">
            <div id="people-module">
                <div class="ui-g">
                    <div class="ui-g-2 toggle-title" i18n>People</div>
                    <div class="ui-g-10 toggle-bar"></div>
                </div>
                <div class="mod-content">
                    <div class="ui-g">
                        <div class="ui-g-3">
                            <label for="assignee" i18n>Assigner:</label>
                        </div>
                        <div class="ui-g-3">
                            <!--<img src="../../../assets/images/useravatar.png">&nbsp;-->
                            <span id="assignee">{{folder.assignee.firstName}}&nbsp;{{folder.assignee.lastName}}</span>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-3">
                            <label for="reporter">Auteur:</label>
                        </div>
                        <div class="ui-g-9">
                            <span id="reporter">{{folder.reporter.firstName}}&nbsp;{{folder.reporter.lastName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="date-module">
                <div class="ui-g">
                    <div class="ui-g-2 toggle-title" i18n>Dates</div>
                    <div class="ui-g-10 toggle-bar"></div>
                </div>
                <div class="mod-content">
                    <div class="ui-g">
                        <div class="ui-g-3">
                                <label for="createDate">Créer:</label>
                        </div>
                        <div class="ui-g-9">
                            <span id="createDate">{{folder.createDate | date : 'longDate':'':'ar'}}</span>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-3">
                            <label for="modifDate">Modifier:</label>
                        </div>
                        <div class="ui-g-9">
                            <span id="modifDate">{{folder.modifDate | date : 'longDate':'':'ar'}}</span>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-3">
                            <label for="closedDate">Clôturer:</label>
                        </div>
                        <div class="ui-g-9">
                            <span id="closedDate">{{folder.closeDate | date : 'longDate':'':'ar'}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
