<div id="folder-content" class="header-margin-top pad-16">

    <!-- title -->
    <div class="ui-g">
        <div class="ui-g-12 ui-md-1 aui-page-header-image">
            <img src="../../../assets/images/folder_icon.jpg" width="50" height="50" style="margin-left: 20px">
        </div>
        <div class="ui-g-12 ui-md-10 aui-page-header-main">
            <div id="folder-number">
                <a id="project-name-val" routerLink="/home/legal_cases/offices/{{folder.office.id}}">{{folder.office.name}}</a>
                &nbsp;&nbsp;/&nbsp;&nbsp;
                <a class="issue-link" routerLink="/home/legal_cases/folders/{{folder.id}}" id="key-val" rel="10049">{{folder.number}}</a>
            </div>
            <h1 id="summary-val">{{folder.offence}}</h1>
        </div>
        <div class="ui-g-12 ui-md-1 aui-page-header-actions">
            <button pButton type="button"
                    routerLink="/home/legal_cases/folders"
                    i18n-label
                    label="Retour"
                    icon="fa fa-undo"
                    class="ui-button-secondary margin-top-10">
            </button>
        </div>
    </div>

    <!-- actions bar-->
    <div class="ui-g btn-actions">
        <div class="ui-g-12 ui-md-6"></div>
        <div class="ui-g-12 ui-md-6 align-left">
            <div class="btn-group btn-primary btn-sm">
                <button pButton type="button"
                        i18n-label
                        label="Assigner"
                        icon="fa fa-users"
                        class="ui-button-secondary">
                </button>
                <button pButton type="button"
                        i18n-label
                        label="Me l'assigner"
                        icon="fa fa-users"
                        class="ui-button-secondary">
                </button>
            </div>
        </div>
    </div>


    <!-- body -->
    <div class="ui-g folder-body-content">
        <!-- right-panel-->
        <div class="ui-g-8">
            <div id="detail-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Détail</div>
                    <div class="ui-g-10 toggle-bar" style="width:90%"></div>
                    <div class="ui-g-1" style="width:2%">
                        <i class="fa fa-pencil" style="cursor: pointer"
                           (click)="updateDetail()">
                        </i>
                    </div>
                </div>
                <div class="mod-content">

                    <!-- detail values -->
                    <div id="detailValues" [hidden]="showUpdateDetail">
                        <div class="ui-g">
                            <!--detail right-->
                            <div class="ui-g-6">
                                <!-- Status -->
                                <div class="ui-g item">
                                    <div class="ui-g-4">
                                        <label class="detail-name" for="status" i18n>Statut:</label>
                                    </div>
                                    <div class="ui-g-8 pointer">
                                        <span class="wrap" id="status">
                                            <span class="badge badge-info detail-value">{{folder.status}}</span>
                                        </span>
                                    </div>
                                </div>

                                <!--Priority-->
                                <div class="ui-g item">
                                    <div class="ui-g-4">
                                        <label class="detail-name" for="priority" i18n>Priority:</label>
                                    </div>
                                    <div class="ui-g-8 pointer">
                                        <span class="wrap" id="priority">
                                            <img alt="" height="16" src="../../../assets/images/major.svg" width="16" class="icon-value">&nbsp;
                                            <span class="detail-value">{{folder.priority}}</span>
                                        </span>

                                    </div>
                                </div>

                            </div>
                            <!--detail left-->
                            <div class="ui-g-6">

                            <div class="ui-g item">
                                <div class="ui-g-4">
                                    <label class="detail-name" for="court" i18n>Tribunal:</label>
                                </div>
                                <div class="ui-g-8 pointer" (mouseover)="showPencilCourt = true" (mouseleave)="showPencilCourt = false">
                                    <span class="wrap" id="court" >
                                        <span class="detail-value">{{folder.court.name}}</span>
                                    </span>
                                </div>

                            </div>

                            <div class="ui-g item">
                                <div class="ui-g-4">
                                    <label class="detail-name" for="administrationConcerned" i18n>Type d'envoi:</label>
                                </div>
                                <div class="ui-g-8 pointer">
                                    <span class="wrap"  id="administrationConcerned">
                                        <div class="detail-value" [innerHTML]="folder.administrationConcerned"></div>
                                    </span>
                                </div>
                            </div>

                        </div>
                        </div>
                    </div>

                    <!-- detail updating -->
                    <form id="detailUpdating" [hidden]="!showUpdateDetail" [formGroup]="detailForm" (ngSubmit)="onSubmit(detailForm.value)">
                        <!--<p-panel header="Validate">-->
                            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        First Name *:
                                    </div>
                                    <div class="ui-grid-col-6">
                                        <input pInputText type="text" formControlName="firstname" placeholder="Required"/>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!detailForm.controls['firstname'].valid&&detailForm.controls['firstname'].dirty">
                                            <i class="fa fa-close"></i>
                                            Firstname is required
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        Last Name *:
                                    </div>
                                    <div class="ui-grid-col-6">
                                        <input pInputText type="text" formControlName="lastname" placeholder="Required"/>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!detailForm.controls['lastname'].valid&&detailForm.controls['lastname'].dirty">
                                            <i class="fa fa-close"></i>
                                            Lastname is required
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        Password *:
                                    </div>
                                    <div class="ui-grid-col-6">
                                        <input pInputText type="password" formControlName="password" placeholder="Required - Min(6)"/>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!detailForm.controls['password'].valid&&detailForm.controls['password'].dirty">
                                            <i class="fa fa-close"></i>
                                            <span *ngIf="detailForm.controls['password'].errors['required']">Password is required</span>
                                            <span *ngIf="detailForm.controls['password'].errors['minlength']">Must be longer than 6 characters</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        Description:
                                    </div>
                                    <div class="ui-grid-col-6">
                                        <textarea pInputTextarea type="text" formControlName="description"></textarea>
                                    </div>
                                    <div class="ui-grid-col-4"></div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2">
                                        Gender *:
                                    </div>
                                    <div class="ui-grid-col-6">
                                        <p-dropdown [options]="genders" formControlName="gender" [autoWidth]="false"></p-dropdown>
                                    </div>
                                    <div class="ui-grid-col-4">
                                        <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!detailForm.controls['gender'].valid&&detailForm.controls['gender'].dirty">
                                            <i class="fa fa-close"></i>
                                            Gender is required
                                        </div>
                                    </div>
                                </div>
                                <div class="ui-grid-row">
                                    <div class="ui-grid-col-2"></div>
                                    <div class="ui-grid-col-6">
                                        <button pButton type="submit" label="Submit" [disabled]="!detailForm.valid"></button>
                                    </div>
                                    <div class="ui-grid-col-4"></div>
                                </div>
                                <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                                    Form Submitted
                                    <br>
                                    {{diagnostic}}
                                </div>
                            </div>
                       <!-- </p-panel> -->
                    </form>

                </div>
            </div>

            <div id="victims-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Victimes</div>
                    <div class="ui-g-10 toggle-bar" style="width:90%"></div>
                    <div class="ui-g-1" style="width:2%">
                        <i class="fa fa-plus" style="cursor: pointer"></i>
                    </div>

                </div>
                <div class="mod-content">
                    <ul class="property-list">
                        <li class="list-item wrap" *ngFor="let v of folder.victims">
                            <span class="detail-value">{{v.name}}</span>
                            <i class="fa fa-trash trash-update" (click)="removeVictim(v.id)"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="accused-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Coupables</div>
                    <div class="ui-g-10 toggle-bar" style="width:90%"></div>
                    <div class="ui-g-1" style="width:2%">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="mod-content">
                    <ul class="property-list">
                        <li class="list-item wrap" *ngFor="let g of folder.accused">
                            <span class="detail-value">{{g.name}}</span>
                            <i class="fa fa-trash trash-update" (click)="removeGuilty(g.id)"></i>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="actions-module">
                <div class="ui-g">
                    <div class="ui-g-1 toggle-title" i18n>Actions</div>
                    <div class="ui-g-10 toggle-bar" style="width:90%"></div>
                    <div class="ui-g-1" style="width:2%">
                        <i class="fa fa-plus"></i>
                    </div>
                </div>
                <div class="mod-content">
                    <ul class="property-list">
                        <li class="list-item wrap" *ngFor="let a of folder.actions">
                            <span class="detail-value">{{a.name}}</span>
                            <i class="fa fa-trash trash-update" (click)="removeAction(a.id)"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- left panel-->
        <div class="ui-g-4">
            <div id="people-module">
                <div class="ui-g">
                    <div class="ui-g-2 toggle-title" i18n>People</div>
                    <div class="ui-g-10 toggle-bar"></div>
                </div>
                <div class="mod-content">
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <label class="detail-name" for="assignee" i18n>Assigner:</label>
                        </div>
                        <div class="ui-g-8 pointer">
                                <span class="wrap" id="assignee">
                                    <div class="detail-value">{{folder.assignee.firstName}}&nbsp;{{folder.assignee.lastName}}</div>
                                </span>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <label class="detail-name" for="reporter">Auteur:</label>
                        </div>
                        <div class="ui-g-8 pointer" (mouseover)="showPencilSendingType = true" (mouseleave)="showPencilSendingType = false">
                            <span class="wrap" id="reporter">
                                <div class="detail-value">{{folder.reporter.firstName}}&nbsp;{{folder.reporter.lastName}}</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="date-module">
                <div class="ui-g">
                    <div class="ui-g-2 toggle-title" i18n>Dates</div>
                    <div class="ui-g-10 toggle-bar"></div>
                </div>
                <div class="mod-content">
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <label class="detail-name" for="created">Créer:</label>
                        </div>
                        <div class="ui-g-8 pointer">
                            <span class="wrap" id="created">
                                <div class="detail-value">{{folder.created | date : 'longDate':'':'ar'}}</div>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <label  class="detail-name" for="updated">Modifier:</label>
                        </div>
                        <div class="ui-g-8 pointer">
                            <span class="wrap"  id="updated">
                                <div class="detail-value">{{folder.updated | date : 'longDate':'':'ar'}}</div>
                            </span>
                        </div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-4">
                            <label class="detail-name" for="closed">Clôturer:</label>
                        </div>
                        <div class="ui-g-8 pointer">
                            <span class="wrap" id="closed">
                                <div class="detail-value">{{folder.closed | date : 'longDate':'':'ar'}}</div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
