.folder-dialog-container {
    display: flex;
    flex-direction: column;
}

.folder-dialog-container > * {
    width: 100%;
}

.ui-float-label {
    direction: rtl;
}

.mat-dialog-header {
    border-bottom: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    height: 56px;
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list{
    padding: 0 15px 0 0;
}
