<div class="header-margin-top pad-16">

    <!--<b i18n>Le dossier</b>&nbsp;<a routerLink="/home/cases/folders/{{folderCreated?.id}}">{{folderCreated?.id}}</a>&nbsp;<b i18n>a été crée.</b>-->

    <div class="ui-g" >
        <div class="ui-g-1"></div>
        <div class="ui-g-10">
            <form id="folder-form-search" #filterFoldersForm="ngForm" (ngSubmit)="onSubmitFilterFoldersForm(filterFoldersForm)">
                <div class="ui-g">
                    <div class="ui-g-1 text-left">
                        <label for="folderNumber" i18n>Numéro Dossier</label>
                    </div>
                    <div class="ui-g-2 text-right">
                        <input type="text" pInputText id="folderNumber" name="folderNumber" ngModel
                               i18n-placeholder="Entrez le numéro ici" size="15">
                    </div>

                    <div class="ui-g-1 text-left">
                        <label for="victim" i18n>Victime</label>
                    </div>
                    <div class="ui-g-3 text-right">
                        <input type="text" pInputText id="victim" name="victim" ngModel
                               i18n-placeholder="Entrez le nom de la victim" size="35" >
                    </div>

                    <div class=" ui-g-1  text-left">
                        <label for="accused" i18n>Coupable</label>
                    </div>
                    <div class="ui-g-3  text-right">
                        <input type="text" pInputText id="accused" name="accused" ngModel
                               i18n-placeholder="Entrez le nom du coupable" size="35">
                    </div>
                    <div class="ui-g-1">
                    </div>
                </div>

                <div class="ui-g">
                    <div class="ui-g-1  text-left">
                        <label for="office" i18n>Bureau</label>
                    </div>
                    <div class="ui-g-2  text-right">
                        <select id="office" name="office" class="select-basic" ngModel>
                            <option value=""></option>
                            <option *ngFor="let o of listOffices" value="{{o.id}}">{{o.name}}</option>
                        </select>
                    </div>

                    <div class="ui-g-1  text-left">
                        <label for="status" i18n>Status</label>
                    </div>
                    <div class="ui-g-3  text-right">
                        <select id="status" name="status" class="select-basic" ngModel>
                            <option value=""></option>
                            <option *ngFor="let st of statusList" value="{{st.id}}">{{st.name}}</option>
                        </select>
                    </div>

                    <div class="ui-g-1  text-left">
                    </div>

                    <div class="ui-g-4 text-right">
                        <button type="submit" pButton i18n-label label="Recherche" icon="pi pi-check"></button>
                    </div>

                </div>
            </form>
        </div>
        <div class="ui-g-1"></div>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
            <!-- actions bar -->
            <div id="actions" class="ui-g" style="margin-bottom: 5px">
                <div class="ui-g-2">
                    <p-button (onClick)="overlayPanel.show($event);showAssignUserDropdown()"
                              icon="pi pi-fw pi-caret-down"
                              i18n-label
                              [disabled]="selectedFolders.length == 0"
                              label="Assigné a">
                    </p-button>

                    <p-button (onClick)="overlayPanel.show($event);showChangeFolderStatusDropdown()"
                              icon="pi pi-fw pi-caret-down"
                              i18n-label
                              [disabled]="selectedFolders.length == 0"
                              label="Status"
                              style="margin-left:9%">
                    </p-button>
                </div>

                <div class="ui-g-9"></div>

                <div clas="ui-g-1">
                    <p-button (onClick)="overlayPanel.show($event);showAddActionDropdown()"
                              icon="pi pi-fw pi-caret-down"
                              i18n-label
                              [disabled]="selectedFolders.length == 0"
                              label="Actions"
                              style="margin-top: 9px">
                    </p-button>
                </div>
            </div>

            <!-- table result-->
            <p-table [value]="listFolders?.items" [(selection)]="selectedFolders"
                     [lazy]="true" (onLazyLoad)="loadFoldersLazy($event)" [paginator]="true"
                     [rows]="10" [totalRecords]="listFolders?.totalItems" [loading]="loading"
                     i18n-emptymessage emptymessage="Aucun résultat trouvé">
                <ng-template pTemplate="caption" >
                    <span i18n>Dossiers</span>
                    <span class="badge badge-success">{{listFolders?.totalItems}}</span>&nbsp;
                    <span i18n>Il y'a</span>&nbsp;
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 2.25em">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th width="5%" i18n>Numéro</th>
                        <th width="22%" i18n>Infraction</th>
                        <th width="13%" i18n>Victimes</th>
                        <th width="13%" i18n>Coupables</th>
                        <th width="7%"  i18n>Tribunal</th>
                        <th width="8%" i18n>Date modification</th>
                        <th width="10%" i18n>Assigné</th>
                        <th width="4%"  i18n>Actions</th>
                        <th width="5%"  i18n>Priorité</th>
                        <th width="5%"  i18n>Status</th>
                        <th width="8%" i18n>Type d'envoi</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-folder>
                    <tr [pSelectableRow]="rowData">
                        <td>
                            <p-tableCheckbox [value]="folder"></p-tableCheckbox>
                        </td>
                        <td>
                            <a routerLink="/home/cases/folders/{{folder.id}}">{{folder.number}}</a>
                        </td>
                        <td>
                            <a routerLink="/home/cases/folders/{{folder.id}}">{{folder.offence}}</a>
                        </td>
                        <td>
                            <ul class="list compact">
                                <li  *ngFor="let v of folder.victims">
                                    {{v.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul class="list compact">
                                <li  *ngFor="let g of folder.accused">
                                    {{g.name}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            {{folder.court.name}}
                        </td>
                        <td>
                            {{folder.updated | date : 'longDate':'':'ar-DZ'}}
                        </td>
                        <td>
                            {{folder?.assignee?.firstname}}&nbsp;{{folder?.assignee?.lastname}}
                        </td>
                        <td align="center">
                            <span class="badge badge-info" dir="rtl"
                                  [tooltipDisabled]="folder?.actions === 0"
                                  [pTooltip]="getToolTipActionValue(folder?.actions)">
                                {{folder?.actions.length}}
                            </span>
                        </td>
                        <td align="center">
                            <img alt=""
                                 src="{{folder.priority?.icon}}"
                                 [pTooltip]="folder?.priority?.name"
                                 height="30"
                                 width="30"
                                 class="icon-value">
                        </td>
                        <td align="center">
                            <img alt=""
                                 src="{{folder.status?.icon}}"
                                 [pTooltip]="folder?.status?.name"
                                 height="30"
                                 width="30"
                                 class="icon-value">
                        </td>
                        <td>
                            <div [innerHTML]="folder?.administrationConcerned"></div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
    </div>

</div>

<!-- ActionsOverlaPanel-->
<p-overlayPanel #overlayPanel>

    <!-- UsersOverlayPanel-->
    <div *ngIf="showAssignUserOPanel">
        <p-dropdown #assignUserDropdown
                    [options]="listUsers"
                    [(ngModel)]="selectedUser"
                    [style]="{'width':'200px'}"
                    filter="true"
                    i18n-placeholder="Assigner à"
                    dir="rtl">
            <ng-template let-item pTemplate="selectedUser">
                <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
            <ng-template let-user pTemplate="item">
                <span>{{user.label}}</span>
            </ng-template>
        </p-dropdown>
        <button type="button" class="btn btn-icon" (click)="assignUser(selectedFolders,selectedUser)">
            <i class="pi pi-check"></i>
        </button>
    </div>

    <!-- ActionsOverlyPanel-->
    <div *ngIf="showAddActionOPanel">
        <p-dropdown #addActionDropdown
                    [options]="listActions"
                    [(ngModel)]="selectedAction"
                    [style]="{'width':'300px'}"
                    filter="true"
                    i18n-placeholder="Choisissez votre action"
                    dir="rtl">
            <ng-template let-item pTemplate="selectedAction">
                <span style="vertical-align:middle">{{item.label}}</span>
            </ng-template>
            <ng-template let-action pTemplate="item">
                <span>{{action.label}}</span>
            </ng-template>
        </p-dropdown>
        <button type="button" class="btn btn-icon" (click)="addAction(selectedFolders,selectedAction)">
            <i class="pi pi-check"></i>
        </button>
    </div>

    <!-- ChangeStatusPanel-->
    <div *ngIf="showChangeStatusOPanel">
        <select [(ngModel)]="selectedStatus">
            <option *ngFor="let s of statusList" [ngValue]="s">{{s.name}}</option>
        </select>
        <button type="button" class="btn btn-icon" (click)="changeStatus(selectedFolders,selectedStatus)">
            <i class="pi pi-check"></i>
        </button>
    </div>

</p-overlayPanel>

<!-- button added folder -->
<div id="container-floating">
    <div id="floating-button"
         data-toggle="tooltip"
         data-placement="left"
         data-original-title="Create"
         (click)="openCreateFolderDialog()">
        <span class="floating-button-label" i18n>Créer un dossier</span>
        <p class="plus">+</p>
        <img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">
    </div>
</div>



