html, body{
    background: white;
    color: #000000;
    font-weight: normal;
    font-family: "Segoe UI" , "Segoe" , "SegoeUI-Regular-final", "Tahoma", "Helvetica", "Arial", "sans-serif";
}
.loading{
    background: url("../images/loader.gif");
    margin : 0 auto;
    position: absolute;
    min-width: 400px;
    min-height: 300px;
    top: 50%;
    left: 50%;
    margin: -150px 0px 0px -200px;
}

.ui-inputgroup .ui-inputgroup-addon {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.ui-inputgroup .ui-inputtext:not(:first-child) {
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
    border-left: 1px solid #d6d6d6 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right: 0 none !important;
}

.badge {
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    min-width: .625rem;
    height: .80rem;
    line-height: normal;
    border-radius: .516667rem;
    font-size: .75rem;
    padding: 0 .266667rem;
    margin-right: .25rem;
    white-space: nowrap;
    text-align: center;
}
.badge.badge-info {
    background: #007cbb;
    color: #fff;
}
.badge.badge-danger {
    background: #c92100;
    color: #fff;
}
.badge.badge-success {
    background: #318700;
    color: #fff;
}
.badge.badge-warning {
    background: #ffdc0b;
    color: #000;
}

.ui-tooltip {
    position: absolute;
    max-width: 400px;
    white-space: pre-wrap;
}
